.mat-toolbar {
    font-family: 'Orbitron';
    // This fills the remaining space, by using flexbox. 
    // Every toolbar row uses a flexbox row layout.
    .spacer {
        flex: 1 1 auto;
    }
}

.dice-tray {
    text-align: center;
    font-size: 5em;
}

input {
    text-align: center;
    font-size: 18px;
    width: 140px;
}

.d10-1 {
    color: rgba(244, 67, 54, 0.9);
}
.d10-7, .d10-8, .d10-9 {
    color: rgba(255, 216, 64, 0.9);
}
.d10-10 {
    color: rgba(67, 244, 54, 0.6);
}