.mat-toolbar {
    font-family: 'Orbitron';
    // This fills the remaining space, by using flexbox.
    // Every toolbar row uses a flexbox row layout.
    .spacer {
        flex: 1 1 auto;
    }
}

input {
    text-align: center;
    font-size: 18px;
    width: 140px;
}
