<md-toolbar>
  <span>Vastronaut Dice</span>
  <span class="spacer"></span>
  <md-icon (click)="changeTheme()">palette</md-icon>
</md-toolbar>

<md-card>
  <form>
    <md-input-container>
      <input mdInput name="num" type="number" pattern="\d*" min="1" placeholder="Number of Dice" [(ngModel)]="num"/>
    </md-input-container>
    <button md-raised-button type="submit" color="accent" (click)="roll()">ROLL</button>
  </form>
</md-card>

<div class="roll-history">
  <dice-roll *ngFor="let roll of rollHistory" [roll]="roll" class="peacekeep"></dice-roll>
</div>
