.dice-roll {
  margin: 12px;

  .avatar {
    text-align: center;
    font-size: 12px;
    .bignum {
      font-size: 22px;
    }
  }

  .roll-header {
    width: 100%;
    text-align: right;
  }

  .dice-tray {
    padding-top: 12px;
    text-align: center;
    font-size: 5em;
  }

  .hidden {
    display: none;
  }
}
