@font-face {
  font-family: "dPoly Decahedron";
  src: url("/assets/dPoly_Decahedron.eot?") format("eot"),
       url("/assets/dPoly_Decahedron.woff") format("woff"),
       url("/assets/dPoly_Decahedron.ttf") format("truetype"),
       url("/assets/dPoly_Decahedron.svg#dPolyDecahedron") format("svg");
  font-weight:normal;
  font-style:normal;
}

.d10 {
    display: inline-block;
    font-family: 'dPoly Decahedron';
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.d10-1:before {
    content: "B";
}
.d10-2:before {
    content: "C";
}
.d10-3:before {
    content: "D";
}
.d10-4:before {
    content: "E";
}
.d10-5:before {
    content: "F";
}
.d10-6:before {
    content: "G";
}
.d10-7:before {
    content: "H";
}
.d10-8:before {
    content: "I";
}
.d10-9:before {
    content: "J";
}
.d10-10:before {
    content: "L";
}
